/* CSS Stylesheet */
div {
    border-radius: 70px;
    border: 1px solid red;
    background-color: #000;
    padding-right: 3%;
}
/* ----- Footer ----- */
.backto {
    font-size: 11px;
    font-family: Calibri,Verdana,sans-serif;
    list-style-type: none;
    margin-left: -30px;
    line-height: 140%;
}

    .backto a {
        color: red;
    }
