/* CSS Stylesheet 
Index
*/
#wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1, a, p, li {
    font-family: Calibri,Verdana,sans-serif;
}

.indexheading {
    color: #e570e7;
}

.homework li {
    line-height: 150%;
}

.homework a:link {
    text-decoration: none;
    color: #8d4aa5;
}

.homework a:visited {
    text-decoration: none;
    color: #9a60c9;
}

.homework a:hover,
.homework a:active {
    text-decoration: underline;
    color: #9a60c9;
}

.footer {
    color: #e570e7;
}
