/* CSS Stylesheet */
body {
font-family:Calibri,Verdana,sans-serif;
width:90%;
margin-left:auto;
margin-right:auto;
}
header, nav, section, article, footer {     /* assures that html5 elements are displayed as block elements in browsers that don't support them */
display:block;							/* combined with html5inIE.js for IE8 and earlier */
}
nav {
text-align:center;
}
nav li {
display:inline;
padding:5px;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
margin-right:5px;
}
section{
margin-left:auto;
margin-right:auto;
margin-top:50px;
}
/*------------- Green Ball Ranking ------------*/
.alignleft{
float:left;
}
.welcome {
padding-top:50px;
text-align:center;
}
table#tablegrades, 
table#tablegrades tr, 
table#tablegrades td,
table#tablegrades th {
border: 1px solid #000;
border-collapse:collapse;
border-spacing:0;
text-align:center;
}
table#tablegrades {
width:100%
}
table#tablegrades thead tr th{
background-color:#ddd;
}
table#tablegrades tbody tr td:last-child,
table#tablegrades thead tr th:last-child {
width:10%;
}
/*------------- LinkedIn ------------*/
ul.circle li {
line-height:170%;
list-style-type:circle;
}
ul.search li {
line-height:170%;
}
ul.signup li:last-child{
list-style-type:none;
}
/*------------- Footer ------------*/
.backto {
font-size:0.8em;
font-family:Calibri,Verdana,sans-serif;
}